@use "variaveis" as let;

@mixin flex-center {
  display: flex;
  justify-content: center;
}

$images: ("QuartoCasal.png", "SuítePresidencial.jpg", "quarto_hotel.jpg");

$gallery: (
  "QuartoCasal.png",
  "quarto-duplo-vista-mar.jpg",
  "quarto_hotel.jpg",
  "QuartoLuxo.jpg",
  "suite-estudio-3.jpg",
  "suite-executiva-4.jpg",
  "1604663246841.jpg",
  "suite-presidencial-1.jpg",
  "SuítePresidencial.jpg"
);

// IMAGENS DA PÁGINA SOBRE
$i: 0;

@each $url in $images {
  $i: $i + 1;
  #imagem#{$i} {
    content: url("../images/#{$url}");

    width: 400px;
    height: 250px;
    opacity: 1;
    margin: 0 auto 20px auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

// IMAGENS DA PÁGINA QUARTOS
$j: 0;

@each $url in $gallery {
  $j: $j + 1;
  #img-#{$j} {
    content: url("../images/#{$url}");

    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
  }
}

// IMAGENS DA PÁGINA RESERVAS
$n: 0;

@each $url in $images {
  $n: $n + 1;
  #image#{$n} {
    content: url("../images/#{$url}");

    width: 400px;
    height: 280px;
  }
}
