@use "variaveis" as let;
@use "mixins" as mix;
@use "extends";

// @use "header";
// @use "footer";

@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap");

/* --------------  MAIN  ----------------  */
.main {
  position: relative;
  background-size: cover;
  padding-bottom: 1rem;

  & h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 2px 2px 4px black;
    padding-top: 2rem;
  }

  &__login {
    width: 600px;
    text-align: center;
    margin: 1rem auto 3rem auto;
    box-shadow: 4px 4px 8px 2px let.$azul-claro;
    border-radius: 0.3rem;
    padding: 2rem 0;
    background-color: let.$branco;

    & form {
      height: 100%;
      display: grid;
      place-items: center;
    }

    & label {
      width: 70%;
      text-align: left;
      margin-top: 1.2rem;
      font-weight: 600;
    }

    & input,
    & select,
    & textarea {
      width: 70%;
      padding: 1rem;
      margin: 0.8rem 0;
      border-radius: 0.3rem;
      border: 1px solid let.$azul-claro;
    }

    & input,
    & select,
    & textarea {
      margin: 0;
      font-style: italic;
      font-weight: bold;
    }

    & button {
      margin-top: 1.5rem;
      padding: 0.7rem 1.5rem;
      border-radius: 0.3rem;
      border: none;
      font-weight: 700;
      cursor: pointer;
      background-color: let.$text;
      color: let.$branco;
      opacity: 1;
      transition: 0.3s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

/* --------------  RESPONSIVIDADE ----------------  */
@media (max-width: 414px) and (orientation: portrait) {
  .main {
    & h1 {
      margin-bottom: -3rem;
    }

    &__login {
      left: 0;
      width: auto;
      box-shadow: none;

      & input {
        padding: 0.5rem;
        margin: 0.3rem 0;
      }
    }
  }
}
