@use "variaveis" as let;
@use "mixins" as mix;
@use "extends";

/* --------------  MAIN  ----------------  */
.main {
  position: relative;
  background-size: cover;
  padding-bottom: 1rem;
  height: 725px;

  &__subtitle {
    @extend %subtitle;
  }

  &__detalhe {
    display: block;
    width: 7%;
    height: 0.4vh;
    margin-left: 46.5%;
    margin-top: -1%;
    background-color: let.$background;
  }

  &__login {
    width: 600px;
    text-align: center;
    margin: 1rem auto 3rem auto;
    box-shadow: 4px 4px 8px 2px let.$azul-claro;
    border-radius: 0.3rem;
    padding: 2rem 0;
    background-color: let.$branco;

    &__esqueceu-senha {
      width: 70%;
      text-align: right;
      margin: 1rem auto;
      font-size: 1.1rem;
      text-decoration: none;
      font-weight: bold;
    }

    & form {
      height: 100%;
      display: grid;
      place-items: center;
    }

    & label {
      width: 70%;
      text-align: left;
      margin-top: 1.2rem;
      font-weight: 600;
    }

    & input {
      width: 70%;
      padding: 1rem;
      margin: 0.8rem 0;
      border-radius: 0.3rem;
      border: 1px solid let.$azul-claro;
      font-size: 1rem;
    }

    & input,
    & select,
    & textarea {
      margin: 0;
      font-style: italic;
      font-weight: bold;
    }

    & button {
      padding: 0.7rem 1.5rem;
      border-radius: 0.3rem;
      border: none;
      font-weight: 700;
      cursor: pointer;
      background-color: let.$text;
      color: let.$branco;
      opacity: 1;
      transition: 0.3s;
      font-size: 1rem;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

/* --------------  RESPONSIVIDADE ----------------  */
@media (max-width: 414px) and (orientation: portrait) {
  .main {
    height: 525px;

    &__detalhe {
      width: 30%;
      margin-left: 35%;
      margin-top: -5.5%;
    }

    &__login {
      left: 0;
      width: auto;
      box-shadow: none;

      & input {
        padding: 0.5rem;
        margin: 0.3rem 0;
      }

      &__esqueceu-senha {
        text-align: center;
      }
    }
  }
}
