@use "variaveis" as let;
@use "mixins" as mix;
@use "extends";

/* --------------  MAIN  ----------------  */
.container {
  background-color: let.$branco;
  color: let.$text;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0 auto;
  width: 80vw;

  &__subtitle {
    @extend %subtitle;
    margin-bottom: 0.5rem;
  }

  &__detalhe {
    @extend %detalhe;
  }

  & h2 {
    line-height: 1.5;
  }

  & p {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
  }

  &__form {
    display: flex;
    margin: 10px 0 30px 0;
    gap: 40px;
    justify-content: center;

    & input,
    & label {
      font-size: 1.2rem;
      font-weight: bold;
      padding-left: 5px;
    }
  }
}

/* --------------  RESPONSIVIDADE ----------------  */
@media (max-width: 1580px) and (orientation: landscape) {
  .container {
    &__form {
      gap: 20px;
    }
  }
}

/* TABLET LANDSCAPE */
@media (max-width: 1194px) and (orientation: landscape) {
  .container {
    &__form {
      gap: 15px;
    }
  }
}

/* TABLET PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
  .container {
    &__form {
      gap: 5px;
    }
  }
}

/* MOBILE LANDSCAPE */
@media (max-width: 915px) and (orientation: landscape) {
  .container {
    &__form {
      gap: 0px;

      & div {
        margin-bottom: 10px;
      }
    }
  }
}

/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
  .container {
    padding: 0 10px;

    &__form {
      display: block;
      margin: 0;

      & div {
        margin-bottom: 10px;
      }
    }
  }
}
