@use "variaveis" as let;
@use "mixins" as mix;
@use "extends";

// @use "header";
// @use "footer";

@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap");

/* --------------  MAIN  ----------------  */
// SEÇÃO NOSSO HOTEL
.container {
  background-color: let.$branco;
  color: let.$text;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0 auto;
  width: 80vw;

  &__subtitle {
    @extend %subtitle;
  }

  &__detalhe {
    @extend %detalhe;
  }

  &__content {
    @extend %content;

    & div {
      @extend %text-align-center;
      width: let.$width;

      & img {
        width: 90%;
      }
    }

    &__foto-hotel {
      @include mix.flex-center;
      align-items: center;
    }

    &__text {
      margin-top: 70px;

      & p {
        text-align: left;
        padding-bottom: let.$p1;
      }
    }
  }
}

// SEÇÃO PRINCIPAIS ACOMODAÇÕES
.quartos {
  background-color: let.$background;
  color: let.$text;
  padding: 2rem 0;
  margin-top: 40px;

  & h3 {
    font-size: 1.5rem;
  }

  &__subtitle {
    @extend %subtitle;
  }

  &__detalhev2 {
    display: block;
    width: 40%;
    height: 0.4vh;
    margin-left: 30%;
    margin-top: -1.5%;
    margin-bottom: 2rem;
    background-color: let.$branco;
  }

  &__images {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

    &__card {
      @extend %text-align-center;

      & div {
        overflow: hidden;
        @extend %text-align-center;
      }

      &__info p {
        @extend %text-align-center;
        padding: 0 3rem 3rem 3rem;
      }
    }
  }
}

// SEÇÃO EXPERIÊNCIA
.experiencia {
  background-color: let.$branco;
  color: let.$text;
  margin: 40px 0;

  &__subtitle {
    @extend %subtitle;
  }

  &__detalhe {
    @extend %detalhe;
  }

  &__content {
    @extend %content;

    & div {
      @extend %text-align-center;
      width: let.$width;

      & img {
        width: 90%;
      }
    }
    &__servicos {
      display: flex;
      align-items: center;
    }
    &__text {
      margin-top: 70px;

      & p {
        text-align: left;
        padding-bottom: 1rem;
      }
    }
    &__academia p {
      text-align: right;
    }
  }
}

/* --------------  RESPONSIVIDADE ----------------  */
@media (max-width: 1580px) and (orientation: landscape) {
  #imagem1,
  #imagem2,
  #imagem3 {
    width: 300px;
    height: 180px;
  }
}

/* TABLET LANDSCAPE */
@media (max-width: 1194px) and (orientation: landscape) {
  p {
    font-size: 1rem;
    padding: 0 5px;
  }

  .container {
    width: 90vw;
    &__content {
      align-items: center;
      &__text {
        margin-top: 0px;
        padding: 0 10px;
      }
    }
    &__subtitle {
      font-size: 1.5rem;
    }
  }
}

/* TABLET PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
  p {
    font-size: 1rem;
  }

  .container {
    width: 90vw;
    &__content {
      &__text {
        margin-top: 0px;
      }
    }
    &__subtitle {
      font-size: 1.5rem;
    }
  }

  #imagem1,
  #imagem2,
  #imagem3 {
    width: 260px;
    height: 150px;
  }

  .quartos {
    height: 60vh;
  }
}

/* MOBILE LANDSCAPE */
@media (max-width: 915px) and (orientation: landscape) {
  .container {
    width: 95vw;
    &__content {
      &__text {
        margin-top: 0px;
      }
    }
    &__subtitle {
      font-size: 2rem;
    }
  }

  .quartos {
    margin: 0;
    padding: 0 20px;
    height: 90vw;

    &__images {
      display: flex;
      flex-direction: column;
      margin-top: 80px;

      & div {
        display: flex;
        align-items: center;
        overflow: visible;
      }

      &__card {
        & div {
          justify-content: center;
        }

        &__info {
          flex-direction: column;
        }
      }
    }
  }
}

/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
  .container {
    width: let.$width;

    &__detalhe {
      width: 45%;
      margin-left: 27%;
    }

    &__content {
      flex-direction: column;
      &__text {
        padding: 20px;
        & p {
          text-align: center;
        }
      }
    }
  }

  .quartos {
    margin: 0;
    padding: 40px 0 1550px 0;
    height: let.$height;

    &__images {
      display: flex;
      flex-direction: column;
      margin-top: 450px;
    }
  }

  #imagem1,
  #imagem2,
  #imagem3 {
    width: 300px;
    height: 180px;
  }

  .experiencia {
    &__detalhe {
      width: 45%;
      margin-left: 27%;
    }

    &__content {
      flex-direction: column;

      & div img:nth-child(2) {
        display: flex;
        order: 1;
      }
      &__academia {
        display: flex;
        order: 2;
      }

      &__text {
        margin-top: 0;
        padding: 0 20px;
        & p {
          text-align: center;
        }
      }
    }
  }
}
