.products-container__card__btn, .container__subtitle {
  text-transform: uppercase;
}

.container__content div, .products-container__card h3, .products-container__card__btn, .container__subtitle {
  text-align: center;
}

.container__subtitle {
  font-size: 2rem;
  padding: 20px 0;
}

/* --------------  MAIN  ----------------  */
.container {
  background-color: #fff;
  color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0 auto;
  width: 80vw;
}
.container__detalhe {
  display: block;
  width: 17%;
  height: 0.4vh;
  margin-left: 41.5%;
  margin-top: -1%;
  background-color: #f1eab9;
}
.container__text {
  margin-top: 70px;
}
.container__text p {
  text-align: left;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.container__content {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
}
.container__content div {
  width: 100%;
}
.container__content__text {
  display: flex;
  align-items: center;
}
.container__content__image img {
  width: 90%;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}
.products-container__card {
  padding: 15px;
  box-shadow: 2px 2px 4px #000;
}
.products-container__card__product-image {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}
.products-container__card h3 {
  margin-bottom: 10px;
  color: #000;
  font-size: 24px;
}
.products-container__card__btn {
  font-weight: bold;
  display: block;
  width: 100%;
  text-decoration: none;
  background-color: #bdb2be;
  color: rgb(17, 16, 16);
  padding: 15px;
  border-radius: 10px;
  transition: 0.5s;
}
.products-container__card__btn:hover {
  background-color: #e5d9ec;
}

/* --------------  RESPONSIVIDADE ----------------  */
/* TABLET LANDSCAPE */
@media (max-width: 1194px) and (orientation: landscape) {
  p {
    font-size: 1rem;
    padding: 0 5px;
  }
  .container__text {
    margin-top: 50px;
  }
  .products-container {
    gap: 0;
  }
}
/* TABLET PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
  p {
    font-size: 1rem;
    padding: 0 5px;
  }
  .container__text {
    margin-top: 50px;
  }
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .products-container__card:last-child {
    grid-column: span 2;
    margin: 0 200px;
  }
  .products-container__card img {
    width: 260px;
    height: 150px;
  }
}
/* MOBILE LANDSCAPE */
@media (max-width: 915px) and (orientation: landscape) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .products-container__card:last-child {
    grid-column: span 2;
    margin: 0 180px;
  }
}
/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
  .products-container {
    display: flex;
    flex-direction: column;
  }
  .products-container__card {
    margin-bottom: 3rem;
  }
  .products-container__card img {
    width: 360px;
    height: 200px;
  }
  .products-container__card:last-child {
    margin: 0;
  }
  .container {
    width: 95vw;
  }
  .container__detalhe {
    width: 45%;
    margin-left: 27%;
    margin-top: -5.5%;
  }
  .container__text p {
    text-align: center;
    padding: 0 20px;
  }
  .container__content {
    display: block;
  }
  .container__content__image {
    margin-top: 1.5rem;
  }
  .container__content div img:nth-child(2) {
    display: flex;
    order: 1;
  }
}

/*# sourceMappingURL=quartos.css.map */
