@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Italiana", serif;
  box-sizing: border-box;
  line-height: 2;
}

p {
  font-family: "Della Respira", serif;
  font-size: 1.3rem;
}

.escolha__modal__modal-content__close:hover,
.escolha__modal__modal-content__close:focus {
  text-decoration: none;
}

.escolha h3,
.escolha__btn button {
  text-transform: uppercase;
}

/* --------------  MAIN  ----------------  */
.container {
  background-color: #fff;
  color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0 auto;
  width: 80vw;
}
.container h2 {
  font-size: 3rem;
  line-height: 1.5;
}
.container h3 {
  font-size: 2rem;
  text-align: left;
}
.container__form {
  display: flex;
  margin: 10px 0 30px 0;
  gap: 40px;
}
.container__form input,
.container__form label {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 5px;
}

.cards {
  background-color: #fff;
  color: #000;
}
.cards__detalhe {
  display: block;
  width: 30%;
  height: 0.4vh;
  margin-bottom: 2rem;
  background-color: #000;
}
.cards__images {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.cards__images div {
  display: flex;
  margin-bottom: 10px;
}
.cards__images__card {
  width: 65vw;
  border: 2px solid white;
}
.cards__images__card:hover {
  border: 2px solid green;
}
.cards__images__card__info {
  flex-direction: column;
  padding: 0 0 0 30px;
}
.cards__images__card__info p {
  padding: 0 0 10px 0;
  text-align: left;
}
.cards__images__card__info p:nth-child(3) {
  font-weight: bold;
}
.cards__images__card__info input,
.cards__images__card__info label {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 5px;
}

.escolha {
  position: absolute;
  top: 20rem;
  right: -7rem;
  background-color: #f1eab9;
  width: 20vw;
  height: 65vh;
  padding: 40px 20px;
}
.escolha h3 {
  font-size: 1.5rem;
  text-align: center;
}
.escolha__resumo {
  border: 1px solid black;
  background-color: rgb(233, 223, 223);
  width: 18vw;
  padding: 10px;
}
.escolha__resumo span {
  font-weight: bold;
}
.escolha__btn {
  display: flex;
  justify-content: center;
}
.escolha__btn button {
  cursor: pointer;
  margin-top: 10px;
  color: rgba(33, 33, 65, 0.9);
  font-weight: bold;
  padding: 5px 20px;
}
.escolha__btn button:hover {
  background-color: rgba(24, 33, 89, 0.5725490196);
  color: #fff;
  border-radius: 5px;
}
.escolha__modal {
  /* display: none;  Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.escolha__modal__modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 0.3rem;
  width: 40%;
}
.escolha__modal__modal-content__close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.escolha__modal__modal-content__close:hover,
.escolha__modal__modal-content__close:focus {
  color: #000;
  cursor: pointer;
}

/* --------------  RESPONSIVIDADE ----------------  */
@media (max-width: 1580px) and (orientation: landscape) {
  .container__form {
    gap: 20px;
  }
  .escolha {
    right: -9rem;
    width: 23vw;
    height: 72vh;
  }
  .escolha__resumo {
    width: 20vw;
  }
}
/* TABLET LANDSCAPE */
@media (max-width: 1194px) and (orientation: landscape) {
  .container__form {
    gap: 15px;
  }
  .escolha {
    right: -6.5rem;
    width: 23vw;
    height: 83vh;
  }
  .escolha__resumo {
    width: 20vw;
  }
  .cards__images div img {
    width: 300px;
    height: 200px;
  }
}
/* TABLET PORTRAIT */
@media (max-width: 1024px) and (orientation: portrait) {
  .container__form {
    gap: 5px;
  }
  .escolha {
    right: -5rem;
    width: 30vw;
    height: 48vh;
  }
  .escolha__resumo {
    width: 26vw;
  }
  .escolha__resumo p {
    font-size: 1rem;
  }
  .cards__images__card {
    width: 57vw;
  }
  .cards__images__card__info p {
    font-size: 1rem;
  }
  .cards__images div img {
    width: 200px;
    height: 150px;
  }
}
/* MOBILE LANDSCAPE */
@media (max-width: 915px) and (orientation: landscape) {
  .container__form {
    gap: 0px;
  }
  .container__form div {
    margin-bottom: 10px;
  }
  .cards {
    margin-bottom: -7rem;
  }
  .cards div h3 {
    text-align: center;
  }
  .cards__detalhe {
    display: block;
    width: 30%;
    height: 0.4vh;
    margin-left: 34%;
    margin-top: -1%;
  }
  .cards__images {
    align-items: center;
  }
  .cards__images__card {
    display: flex;
    flex-direction: column;
    width: 100vw;
    width: 80vw;
  }
  .cards__images__card__info h3 {
    text-align: center;
    justify-content: center;
  }
  .cards__images div {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .escolha {
    position: static;
    width: 40vw;
    height: 70vh;
    margin: 0 auto 10rem auto;
  }
  .escolha__resumo {
    width: 35vw;
  }
}
/* MOBILE PORTRAIT */
@media (max-width: 414px) and (orientation: portrait) {
  .container {
    padding: 0 10px;
  }
  .container__form {
    display: block;
    margin: 0;
  }
  .container__form div {
    margin-bottom: 10px;
  }
  .cards {
    margin-bottom: -10rem;
  }
  .cards div h3 {
    text-align: center;
  }
  .cards__detalhe {
    display: block;
    width: 70%;
    height: 0.4vh;
    margin-left: 14%;
    margin-top: -1%;
  }
  .cards__images {
    align-items: center;
  }
  .cards__images div {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  .cards__images div img {
    width: 300px;
    height: 180px;
  }
  .cards__images__card {
    display: flex;
    flex-direction: column;
    width: 95vw;
  }
  .cards__images__card:hover {
    border: 2px solid green;
  }
  .cards__images__card__info {
    flex-direction: column;
    padding: 0 0 0 30px;
  }
  .cards__images__card__info h3 {
    text-align: center;
    justify-content: center;
  }
  .escolha {
    position: static;
    width: 75vw;
    height: 60vh;
    margin: 0 auto 8rem auto;
  }
  .escolha__resumo {
    width: 65vw;
  }
}

/*# sourceMappingURL=reservas.css.map */
